<div *ngIf="loans?.length">
  <h2>Active Loans</h2>
  <ul>
    <li *ngFor="let loan of loans">
      <p><strong>Book ID:</strong> {{ loan.book_id }}</p>
      <p><strong>Reader ID:</strong> {{ loan.reader_id }}</p>
      <p><strong>Staff ID:</strong> {{ loan.staff_id }}</p>
      <p><strong>Loan ID:</strong> {{ loan.loan_id }}</p>
      <p><strong>Issue Date:</strong> {{ loan.issue_date | date }}</p>
      <p><strong>Return By:</strong> {{ loan.return_period | date }}</p>
      <button (click)="deleteLoan(loan.loan_id)">Delete</button> <!-- Кнопка удаления -->
      <button (click)="updateLoan(loan)">Update</button> <!-- Кнопка обновления -->
      <button (click)="addLoan(loan)">Add New Loan</button> <!-- Кнопка для добавления новой выдачи -->
    </li>
  </ul>
</div>
