<div *ngIf="books?.length">
  <ul>
    <li *ngFor="let book of books">
      <h3>{{ book.name }} ({{ book.ISBN }})</h3>
      <p><strong>Author ID:</strong> {{ book.author_id }}</p>
      <p><strong>Publisher ID:</strong> {{ book.publisher_id }}</p>
      <p><strong>Genre ID:</strong> {{ book.genre_id }}</p>
      <p><strong>Department ID:</strong> {{ book.department_id }}</p>
      <p><strong>Copies:</strong> {{ book.copies }}</p>
      <a [routerLink]="['/book', book.book_id]">View Details</a>
    </li>
  </ul>
</div>
